<nav class="navbar">
  <!-- Logo envuelto en un enlace para que dirija a la sección de inicio -->
  <a [routerLink]="['/home']" fragment="home">
    <img src="assets/LOGO_IKOMI.png" alt="Logo Ikoni Perú" class="logo" />
  </a>

  <!-- Resto de los enlaces de navegación -->
  <a [routerLink]="['/home']" fragment="home"><i class="fa fa-home"></i> Inicio</a>
  <a [routerLink]="['/home']" fragment="nosotros"><i class="fa fa-building"></i> Nosotros</a>
  <a [routerLink]="['/home']" fragment="servicios"><i class="fa fa-briefcase"></i> Servicios</a>
  <a [routerLink]="['/home']" fragment="productos"><i class="fa fa-wrench"></i> Productos</a>
  <a [routerLink]="['/home']" fragment="marcas"><i class="fa fa-shield"></i> Marcas</a>
  <a [routerLink]="['/home']" fragment="contacto"><i class="fa fa-envelope"></i> Contáctenos</a>
</nav>
