<section class="section-marcas" id="marcas">
    <h2>MARCAS</h2>
    <p>
      Contamos con las marcas más reconocidas en el mercado nacional e internacional especializadas en la fabricación de repuestos para vehículos con altos estándares de calidad.
    </p>
    <div class="marcas-container">
      <!-- Tarjetas de marca con la clase 'marca-card' -->
      <div class="marca-card">
        <h3>SANGSIN BRAKE</h3>
        <p>Fabricante líder en la industria Coreana de piezas y partes para frenos...</p>
      </div>
      <div class="marca-card">
        <h3>HANSANG</h3>
        <p>La marca HANSANG maneja una amplia gama de repuestos...</p>
      </div>
      <div class="marca-card">
        <h3>Mando</h3>
        <p>Mando Corporation pertenece al grupo Halla Holding...</p>
      </div>
      <!-- Añade más tarjetas de marcas según sea necesario -->
    </div>
  </section>
  